{# {% set img = (../img.jpg) %} #}

	{% embed 'partials/base.html.twig' %}

		{% block content %}
			{% if config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %}
			<div class="hero-image" style="background-image: url({{ 'img.jpg' }});">
    			<div class="hero-text">
    				<h1 id="main-title">Blog</h1>
    				<p>Lorum el Ipsum</p>
  				</div>
			</div>

			<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="blog-content-item grid pure-g-r">
						<div id="item" class="block pure-u-2-3 h-entry">
							{% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
						</div>
				    </div>
				</div>
				<div class="col-md-3 col-md-offset-1">
					<h1 id="recent-posts-title">Recent</h1>
					{% for p in page.find('/blog').children.order('date', 'desc').slice(0,5) %}
						{% if loop.index <= 3 %}
							{% include 'partials/blog_item.html.twig' with {'blog':page, 'page':p, 'truncate':true} %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
			</div>

			
			
		{% endblock %}

	{% endembed %}
