<div class="container-fluid text-center section" id="section-about">

  <div class="row align-text-left about-dual-col">
    <div class="col-md-6 margin-bottom-20">
      <h1>
        {{header.heading1}}
      </h1>
      <hr class="hr-short-red">
      <p>
              {{header.text1 | markdown}}
      </p>
    </div>
    <div class="col-md-6">
    <h1>      
        {{header.heading2}}
    </h1>
    <hr class="hr-short-red">
      <p>
              {{header.text2 | markdown}}
      </p>
    </div>
  </div>
</div>