{% set img = page.media.images|first %}
<div class="hero-image" style="background-image: url({{ img.url }});">
    <div class="hero-text">
    <h1 id="main-title">{{ page.header.heading }}</h1>
    <p>{{ page.header.subheading }}</p>
    <a><button class="btn-styled margin-top-20 btn-hover">Send free enquiry <i class="fa fa-envelope fa-lg "></i></button></a>
  </div>
</div>