

{% if header.bgColor == "white" %}
    
    <div class="container-fluid bg-white section service-container" id="service-service-section">
{% elseif header.bgColor == "red" %}
    
    <div class="container-fluid bg-red section service-container" id="service-service-section">

{% else %}

    <div class="container-fluid bg-blue section service-container" id="service-service-section">

{% endif %}

    <h1>{{header.title}}</h1>
    <hr class="hr-short-red">
    <p class="margin-bottom-50 margin-top-50">{{header.description}}</p>

    <ul>
    {% for point in page.header.points %}
    
        <div class="row service-point-row"> 
        <div class="col-md-1">
        <!-- Get icon -->
        {% if point.image == "book.PNG" %}
            <i class="fa fa-book fa-5x" aria-hidden="true"></i>
        {% endif %}
        {% if point.image == "hourglass.PNG" %}
            <i class="fa fa-hourglass-o fa-5x" aria-hidden="true"></i>
        {% endif %}
        {% if point.image == "leaf.PNG" %}
            <i class="fa fa-leaf fa-5x" aria-hidden="true"></i>
        {% endif %}
        {% if point.image == "lightbulb.PNG" %}
            <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
        {% endif %}
        {% if point.image == "rocket.PNG" %}
            <i class="fa fa-rocket fa-5x" aria-hidden="true"></i>
        {% endif %}
        </div>

        <div class="col-md-11 padding-top-10"> 
            <p>{{point.text}}</p>
        </div>
        </div>

    {% endfor %}
</div>